<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
    <meta charset="utf-8">
    <title>All Courses</title>
</head>
<body id="page-top">
<div th:replace="/navbar.html::navbar"></div>

<section class="page-section" id="contact">

    <header class="footer text-center" style="left: 0px; background-color: #7aaed7;">
        <div class="container">
            <br>
            <div class="row">

                <div class="form-signin mb-5 mb-lg-0">
                    <h5 class="text-uppercase space-right">Create new course</h5>
                    <a class="btn btn-success btn-l mar-top text-uppercase space-right border-btn" th:href="@{__${#httpServletRequest.requestURI}__/new}"  href="#"> Create</a>
                </div>


<!--                <form action="#" th:action="@{/courses/filter}">-->
<!--                    <div class="input-group">-->

<!--                        <input type="text" class="form-control form-floating me-2" placeholder="Filter by Title" aria-label="Filter"-->
<!--                               th:name="title"/>-->


<!--                        <input type="text" class="form-control form-floating me-2" placeholder="Filter by Topic ID" aria-label="Filter"-->
<!--                               th:name="topicId">-->


<!--                        <br>-->
<!--                        <input type="text" class="form-control form-floating me-2" placeholder="Filter by Teacher ID" aria-label="Filter"-->
<!--                               th:name="teacherId">-->

<!--                        <input type="text"  class="form-control form-floating me-2" placeholder="Filter by Rating" aria-label="Filter"-->
<!--                               th:name="rating">-->

<!--                        <button  class="btn btn-outline-light">Filter-->
<!--                        </button>-->
<!--                    </div>-->

<!--                </form>-->

<!--                <form action="#" th:action="@{/courses/sortByTitle}">-->
<!--                    <button class="btn btn-outline-light" type="submit" >Sort by title</button>-->
<!--                </form>-->

<!--                <form action="#" th:action="@{/courses/sortByRating}">-->
<!--                    <button class="btn btn-outline-light" type="submit" >Sort by rating</button>-->
<!--                </form>-->


                <main class="form-signin">
                    <form action="#" th:action="@{/courses/all/searchAuthorised}">
                        <input class="form-control me-2" type="text" placeholder="Search for a course" aria-label="Search"
                               th:name="searchAuthorised">
                        <br>
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </main>
            </div>
        </div>
    </header>
    <div class="text-dark text-center " th:if="${all.isEmpty()}">
        <br>
        <h2 class="text-dark text-uppercase" style="margin-left: 40px" th:text="#{courses.title.empty}">No courses</h2>
    </div>
    <div class="text-dark text-center " th:unless="${all.isEmpty()}">
        <br>
        <h2 class="text-dark text-uppercase" style="margin-left: 40px" th:text="#{courses.title.authorised}">All courses</h2>
        <br>

        <table class="table-hover" style="width:1400px; margin-left: 40px ">
            <thead>
            <tr>
                <th scope="col" style="height: 40px" th:text="#{course.label.title}">Title</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.topic}">Topic</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.description}">Description</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.starting-date}">Tarting-date</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.rating}">Rating</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.status}">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${all}">
                <th>
                    <a href="#" th:href="@{/courses/all/{id}(id=${course.getId()})}" th:text="${course.title}">Title</a>
                </th>
                <td style="height: 40px" th:text="${course.topic.name}">Topic</td>
                <td style="height: 40px" th:text="${course.description}">Description</td>
                <td style="height: 40px" th:text="${course.startingDate}">Starting date</td>
                <td style="height: 40px" th:text="${course.rating}">Rating</td>
                <td style="height: 40px" th:text="${course.status.type}">Status</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>



<footer class="footer">
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
    </section>
</footer>
</body>
</html>