<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
    <meta charset="utf-8">
    <title>Our Courses</title>

</head>
<body id="page-top">
<div th:replace="/navbar.html::navbar"></div>
<br><br><br><br>
<header class="side text-center" style="left: 0px; background-color: #7aaed7;">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0" th:if="${isStudent}">
                <h5 class="text-uppercase space-right" style="color: white">Upload your homework</h5>
                <a class="btn btn-secondary btn-l mar-top text-uppercase space-right border-btn" th:href="@{__${#httpServletRequest.requestURI}__/homework/new}"  href="#">Upload</a>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0" style="margin-left:160px" th:if="${isAuthorised}" >
                <main class="form-signin">
                    <form action="#"  th:action="@{__${#httpServletRequest.requestURI}__/attachment}" method="post" >
                        <select class="form-control" th:name="lectureId">
                            <option th:each="lecture: ${lectures}"
                                    th:value="${lecture.getId()}"
                                    th:text="${lecture.title}">
                            </option>
                        </select>
                        <button class="btn btn-success btn-l mar-top text-uppercase space-right border-btn" type="submit">Attach assignment</button>
                    </form>
                </main>
            </div>

            <div class="col-lg-4"  th:if="${isAuthorised}">
                <main class="form-signin">
                    <form action="#"  th:action="@{__${#httpServletRequest.requestURI}__/detachment}" method="post" >
                        <select class="form-control" th:name="lectureId">
                            <option th:each="lecture: ${lectures}"
                                    th:value="${lecture.getId()}"
                                    th:text="${lecture.title}">
                            </option>
                        </select>
                        <button class="btn btn-danger btn-l mar-top text-uppercase space-right border-btn" type="submit">Detach assignment</button>
                    </form>
                </main>
            </div>
        </div>
    </div>
</header>

<div class="container" style="margin-left: 640px">
    <h3 class="text-uppercase text-dark" style="margin-left: -100px" th:text="|Assignment details:|"></h3>
    <h4 class="text-dark" style="text-decoration: underline" th:text="#{assignment.label.name}">Name</h4>
    <div class="text-dark" th:text="${assignment.getName()}">Name</div>

    <h4 class="text-dark"  style="text-decoration: underline" th:text="#{assignment.label.link}">Download link</h4>
    <a href="#" th:href="@{{filePath}(filePath=${assignment.getFilePath()})}" th:text="${assignment.getFilePath()}">Download link</a>
</div>

<section class="page-section" id="contact" th:if="${isAuthorised}">
    <div class="text-center text-dark" th:if="${homeworks.isEmpty()}">
        <br>
        <h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="#{homeworks.label.empty}">No Homeworks</h2>
    </div>
    <div class="text-center text-dark" th:unless="${homeworks.isEmpty()}">
        <br>
        <h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="#{homeworks.label.all}">All Homeworks</h2>
        <br>
        <table class="table-hover" style="width:1400px; margin-left: 40px ">
            <thead>
            <tr>
                <th scope="col" style="height: 40px" th:text="#{homework.label.id}">Id</th>
                <th scope="col" style="height: 40px" th:text="#{homework.label.name}">Name</th>
                <th scope="col" style="height: 40px" th:text="#{homework.label.file-path}">File path</th>
                <th scope="col" style="height: 40px" th:text="#{homework.label.user-email}">User Email</th>
                <th scope="col" style="height: 40px" th:text="#{homework.label.evaluation}">Evaluation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="homework : ${homeworks}">
                <th>
                    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/homework/{homeworkId}(homeworkId=${homework.getId()})}" th:text="${homework.id}">Id</a>
                <td style="height: 40px" th:text="${homework.name}">Name</td>

                <td style="height: 40px">
                <a href="#" th:href="@{{filePath}(filePath=${homework.getFilePath()})}" th:text="${homework.getFilePath()}">File path</a>
                </td>

                <td style="height: 40px" th:text="${homework.userEmail}">User email</td>
                <td style="height: 40px" th:text="${homework.evaluation}">Evaluation</td>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="page-section" id="homework" th:if="${isStudent}">

    <div class="text-center text-dark" >
        <br>
        <h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="#{homeworks.label.my-homeworks}">My homeworks</h2>
        <br>
        <table class="table-hover" style="width:1400px; margin-left: 40px ">
            <thead>
            <tr>
                <th scope="col" style="height: 40px" th:text="#{homework.label.id}">Id</th>
                <th scope="col" style="height: 40px" th:text="#{homework.label.name}">Name</th>
                <th scope="col" style="height: 40px" th:text="#{homework.label.file-path}">File path</th>
                <th scope="col" style="height: 40px" th:text="#{homework.label.user-email}">User Email</th>
                <th scope="col" style="height: 40px" th:text="#{homework.label.evaluation}">Evaluation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="homework : ${homeworks}" th:if="${homework.userEmail.equals(logged.email)}" >
                <th>
                    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/homework/{homeworkId}(homeworkId=${homework.getId()})}" th:text="${homework.id}">Id</a>
                <td style="height: 40px" th:text="${homework.name}">Name</td>

                <td style="height: 40px">
                    <a href="#" th:href="@{{filePath}(filePath=${homework.getFilePath()})}" th:text="${homework.getFilePath()}">File path</a>
                </td>

                <td style="height: 40px" th:text="${homework.userEmail}">User email</td>
                <td style="height: 40px" th:text="${homework.evaluation}">Evaluation</td>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<footer class="footer">
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
    </section>
</footer>
</body>
</html>