<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
    <meta charset="utf-8">
    <title>Our Courses</title>

</head>
<body id="page-top">

<div th:replace="/navbar.html::navbar"></div>
<br><br><br><br>
<header class="side text-center" style="left: 0px; background-color: #7aaed7;">
    <br>
    <div class="container">
        <br>
        <div class="row">

            <br><br>
            <div class="col-lg-5-3 mb-5" th:if="${isAuthorised}">
                <h5 class="text-uppercase space-right" style="color: white">Update course details</h5>
                <a class="btn btn-primary btn-l mar-top text-uppercase space-right border-btn"
                   th:href="@{__${#httpServletRequest.requestURI}__/update}" href="#"> Update </a>
            </div>
            <br>
            <div class="col-lg-5 mb-5" th:if="${isAuthorised}">
                <div th:if="${course.status.id==1}">
                    <h5 class="text-uppercase space-right" style="color: white">Make course available</h5>
                    <a class="btn btn-success btn-l mar-top text-uppercase space-right border-btn"
                       th:href="@{__${#httpServletRequest.requestURI}__/publication}" href="#"> Publish </a>
                </div>
            </div>
            <br>
            <div th:if="${isStudent}">
                <div class="col-lg-7 mb-5" th:unless="${logged.courses.contains(course)}">
                    <h5 class="text-uppercase space-right" style="color: white">Join this course now</h5>
                    <form action="#" th:action="@{/users/enrollment/{id}(id=${course.getId()})}" method="post">
                        <button class="btn btn-info btn-l mar-top text-uppercase space-right border-btn" type="submit">
                            Enroll
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-3 mb-5" th:if="${isStudent}">
                <div th:if="${course.startingDate.isBefore(currentDate)}">
                    <div th:if="${logged.courses.contains(course)}">
                        <main class="form-signin">
                            <h5 class="text-uppercase space-right" style="color: white">Evaluate course</h5>
                            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/rating}" method="get">
                                <select class="form-control" th:name="rating">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                    <option value=6>6</option>
                                    <option value=7>7</option>
                                    <option value=8>8</option>
                                    <option value=9>9</option>
                                    <option value=10>10</option>
                                </select>
                                <button class="btn btn-warning btn-l mar-top text-uppercase space-right border-btn"
                                        type="submit">
                                    Rate
                                </button>
                            </form>
                        </main>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-5 mb-lg-0" th:if="${isAdmin}">
                <h5 class="text-uppercase space-right" style="color: white">Delete course</h5>
                <a class="btn btn-danger btn-l mar-top text-uppercase space-right border-btn"
                   th:href="@{__${#httpServletRequest.requestURI}__/delete}" href="#"> Delete </a>
            </div>

        </div>
    </div>
</header>


<h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="|Course details:|"></h2>
<div class="container text-center">
    <h2 class="text-dark" style="text-decoration: underline" th:text="#{course.label.title}">Title</h2>
    <div class="text-dark" th:text="${course.getTitle()}">Title</div>

    <h2 class="text-dark" style="text-decoration: underline" th:text="#{course.label.topic}">Topic</h2>
    <div class="text-dark" th:text="${course.getTopic().getName()}">Topic</div>

    <h2 class="text-dark" style="text-decoration: underline" th:text="#{course.label.description}">Description</h2>
    <div class="text-dark" th:text="${course.getDescription()}">Description</div>

    <h2 class="text-dark" style="text-decoration: underline" th:text="#{course.label.starting-date}">Starting Date</h2>
    <div class="text-dark" th:text="${course.getStartingDate()}">Starting Date</div>

    <h2 class="text-dark" style="text-decoration: underline" th:text="#{course.label.rating}">Rating</h2>
    <div class="text-dark" th:text="${course.getRating()}">Rating</div>

    <h2 class="text-dark" style="text-decoration: underline" th:text="#{course.label.teacher}">Teacher</h2>
    <table class="table-hover" style="width:1000px; margin-left: 40px">
        <tbody class="text-dark">
        <tr th:each="teacher : ${course.teachers}">
            <td style="height: 40px" th:text="|${teacher.firstName} ${teacher.lastName}|">Teacher</td>
        </tr>
        </tbody>
    </table>

</div>
<div  th:unless="${logged.roles==null}">
<section th:if="${logged.courses.contains(course)} or ${isAuthorised}" class="page-section text-center" id="contact">
    <div th:if="${course.startingDate.isBefore(currentDate) or course.startingDate.isEqual(currentDate)} or ${isAuthorised}">
        <div class="text-center" th:if="${lectures.isEmpty()}">
            <br>
            <h2 class="text-dark" style="margin-left: 40px" th:text="#{lecture.label.empty}">No lectures</h2>
        </div>
        <div class="text-center" th:unless="${lectures.isEmpty()}">
            <br>
            <h2 class="text-dark" style="margin-left: 40px" th:text="#{lecture.label.course-lectures}">Course
                lectures</h2>
            <br>
            <table class="table-hover" style="width:1400px; margin-left: 40px ">
                <thead>
                <tr>
                    <th scope="col" style="height: 40px" th:text="#{lecture.label.title}">Title</th>
                    <th scope="col" style="height: 40px" th:text="#{lecture.label.description}">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lecture : ${lectures}">
                    <th>
                        <a href="#" th:href="@{/lectures/{id}(id=${lecture.getId()})}"
                           th:text="${lecture.title}">Title</a>
                    </th>
                    <td style="height: 40px" th:text="${lecture.description}">Description</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</div>

<footer class="footer">
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
    </section>
</footer>
</body>
</html>