<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Form Fragment</title>
</head>
<body class="text-center">

<form th:fragment="course-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${course}"
      method="post">
    <div class="form-floating">
        <label for="floatingTitle">Title</label>
        <input type="text" class="form-control" id="floatingTitle" th:field="*{title}"
               placeholder="Course title">
        <br>
    </div>
    <label class="error" th:errors="*{title}">Title error placeholder</label>
    <div class="form-floating">
        <label>Topic</label>
        <select class="form-control" id= "floatingTopic" th:field="*{topicId}">
            <option th:each="topic: ${topics}"
                    th:value="${topic.id}"
                    th:text="${topic.name}">
            </option>
        </select>
        <br>
    </div>
    <label class="error" th:errors="*{topicId}">Topic error placeholder</label>
    <div class="form-floating">
        <label for="floatingDescription">Description</label>
        <textarea type="text" class="form-control" id="floatingDescription"  rows="5" th:field="*{description}"
                  placeholder="Description of Course"></textarea>
        <br>
    </div>
    <label class="error" th:errors="*{description}">Description error placeholder</label>

    <div class="form-floating">
        <label for="floatingDate">Starting date</label>
        <input class="form-control" id= "floatingDate" th:type="date" th:field="*{startingDate}">
        <br>
    </div>
    <label class="error" th:errors="*{startingDate}">Starting date error placeholder</label>
    <div class="form-floating">
        <label for="floatingTeacher">Teacher</label>
        <select class="form-control" id= "floatingTeacher" th:field="*{teacherId}">
            <option th:each="teacher: ${teachers}"
                    th:value="${teacher.id}"
                    th:text="|${teacher.firstName} ${teacher.lastName}|">
            </option>
        </select>
        <br>
    </div>
    <label class="error" th:errors="*{teacherId}">Teacher error placeholder</label>


    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Save">Submit</button>
</form>
</body>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
</body>
</html>