<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
    <meta charset="utf-8">
    <title>Our Courses</title>

</head>
<body id="page-top">

<div th:replace="/navbar.html::navbar"></div>
<br><br><br><br><br>
<footer class="side text-center" style="left: 0px; background-color: #7aaed7;" >
    <div class="container">

        <div class="row">

            <div class="col-lg-4 mb-5 mb-lg-0" style="margin-left: 400px" th:if = "${isAuthorised}">
                <br>
                <main class="form-signin">
                    <h5 class="text-uppercase" style="color: white" >Assessment</h5>
                    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/evaluation}"   method="post">
                        <br>
                        <select class="form-control" th:name="evaluation">
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                            <option value=6>6</option>
                        </select>
                        <br>
                        <button class="btn btn-success btn-l mar-top text-uppercase space-right border-btn" type="submit">
                            Evaluate
                        </button>
                </form>
                </main>
            </div>

        </div>
    </div>
</footer>

<h3 class="text-dark text-uppercase" style="margin-left: 640px" th:text="|Homework details:|"></h3>
<div class="container center" style="margin-left: 640px">

    <h4 class="text-dark text-uppercase" th:text="#{homework.label.name}" style="text-decoration: underline">Name</h4>
    <div class="text-dark" th:text="${homework.getName()}">Name</div>

    <h4 class="text-dark text-uppercase" th:text="#{homework.label.file-path}" style="text-decoration: underline" >File path</h4>
    <a href="#" th:href="@{{filePath}(filePath=${homework.getFilePath()})}" th:text="${homework.getFilePath()}">File path</a>

    <h4 class="text-dark text-uppercase" th:text="#{homework.label.user-email}" style="text-decoration: underline">User email</h4>
    <div class="text-dark" th:text="${homework.getUserEmail()}">User email</div>

    <h4 class="text-dark text-uppercase" th:text="#{homework.label.assignment}" style="text-decoration: underline" >Assignment</h4>
    <div class="text-dark" th:text="${homework.getAssignment().getName()}">Assignment</div>

    <h4 class="text-dark text-uppercase" th:text="#{homework.label.evaluation}" style="text-decoration: underline" >Evaluation</h4>
    <div class="text-dark " th:text="${homework.getEvaluation()}">Evaluation</div>
</div>
<footer class="footer position-relative">
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
    </section>
</footer>
</body>
</html>