<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
    <meta charset="UTF-8">
    <title>Lecture</title>
</head>
<body id="page-top">
<div th:replace="navbar.html::navbar"></div>
<br><br><br><br>

<header class="side text-center" style="left: 0px; background-color: #7aaed7;">
    <div class="container" th:if="${isAuthorised}">
        <br><br>
        <div class="row">

            <br>
            <div class="col-lg-3">
                <h5 class="text-uppercase space-right" style="color: white" >Update lecture details</h5>
                <a class="btn btn-primary btn-l mar-top text-uppercase space-right border-btn" th:href="@{__${#httpServletRequest.requestURI}__/update}"  href="#"> Update lecture</a>
            </div>

            <div class="col-lg-3">
                <main class="form-signin">
                    <form action="#"  th:action="@{__${#httpServletRequest.requestURI}__/attachment}" method="post" >
                        <select class="form-control" th:name="courseId">
                            <option th:each="course: ${allCourses}"
                                    th:value="${course.getId()}"
                                    th:text="${course.title}">
                            </option>
                        </select>
                        <button class="btn btn-success btn-l mar-top text-uppercase space-right border-btn" type="submit">Attach lecture</button>
                    </form>
                </main>
            </div>

            <div class="col-lg-3" >
                <main class="form-signin">
                    <form action="#"  th:action="@{__${#httpServletRequest.requestURI}__/detachment}" method="post" >
                        <select class="form-control" th:name="courseId">
                            <option th:each="course: ${allCourses}"
                                    th:value="${course.getId()}"
                                    th:text="${course.title}">
                            </option>
                        </select>
                        <button class="btn btn-danger btn-l mar-top text-uppercase space-right border-btn" type="submit">Detach lecture</button>
                    </form>
                </main>
            </div>

            <div class="col-lg-2" th:if="${isAdmin}">
                <h5 class="text-uppercase space-right" style="color: white">Delete lecture</h5>
                <a class="btn btn-danger btn-l mar-top text-uppercase space-right border-btn"
                   th:href="@{__${#httpServletRequest.requestURI}__/delete}" href="#"> Delete </a>
            </div>

        </div>
    </div>
</header>



<div class="container">
    <br>
    <h2 class="text-dark text-center" th:text="|Lecture: ${lecture.title}|"> </h2>
    <h2 class="text-dark" style="text-decoration: underline" th:text="#{lecture.label.description}">Description</h2>
  <h3 class="text-dark" th:text="${lecture.getDescription()}">Description</h3>
    <main class="form-signin" style="margin-left: 177px">
  <iframe  id="iFrameName" width="560" height="315" th:src="${lecture.getVideoUrl()}" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </main>
</div>

<section class="page-section" id="contact">
    <div class="center" th:if="${assignments.isEmpty()}">
        <br>
        <h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="#{assignments.title.empty}">No assignments</h2>
    </div>
    <div class="text-dark text-center" th:unless="${assignments.isEmpty()}">
        <br>
        <h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="#{assignments.title.authorised}">All assignments</h2>
        <br>
        <table class="table-hover" style="width:1400px; margin-left: 40px ">

            <tbody>
            <tr th:each="assignment : ${assignments}">
                <th>
                    <a href="#" th:href="@{/assignments/{id}(id=${assignment.getId()})}" th:text="${assignment.name}">Name</a>
                </th>


            </tr>
            </tbody>
        </table>
    </div>
</section>


<footer class="footer">
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
    </section>
</footer>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>