<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
  <meta charset="utf-8">
  <title>Our Lectures</title>
</head>
<body id="page-top">
<div th:replace="/navbar.html::navbar"></div>
<br><br><br><br>
<footer class="side text-center" style="left: 0px; background-color: #7aaed7;" >
  <div class="container">
    <br>
    <div class="row">
      <div class="form-signin mb-5 mb-lg-0">
        <h5 class="text-uppercase space-right" style="color: white">Create new lecture</h5>
        <a class="btn btn-success btn-l mar-top text-uppercase space-right border-btn" th:href="@{__${#httpServletRequest.requestURI}__/new}"  href="#"> Create</a>
      </div>


    </div>
  </div>
</footer>
<section class="page-section" id="contact">
  <div class="text-center text-dark" th:if="${lectures.isEmpty()}">
    <br>
    <h2 class="text-center text-dark text-uppercase" style="margin-left: 40px" th:text="#{lecture.label.empty}">No lectures</h2>
  </div>
  <div class="text-center text-dark" th:unless="${lectures.isEmpty()}">
    <br>
    <h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="#{lecture.label.all}">All lectures</h2>
    <br>
    <table class="table-hover" style="width:1400px; margin-left: 40px ">
      <thead>
      <tr>
        <th scope="col" style="height: 40px" th:text="#{lecture.label.title}">Title</th>
        <th scope="col" style="height: 40px" th:text="#{lecture.label.description}">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="lecture : ${lectures}">
        <th>
          <a href="#" th:href="@{/lectures/{id}(id=${lecture.getId()})}" th:text="${lecture.title}">Title</a>
        </th>
        <td style="height: 40px" th:text="${lecture.description}">Description</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<footer class="footer position-relative">
  <!-- Copyright Section-->
  <section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
  </section>
</footer>
</body>
</html>