<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="resources">
    <meta charset="utf-8">
    <title>Sign in</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">

    <!-- Custom styles for this template -->
    <link href="../static/css/signin.css" rel="stylesheet" th:href="@{/css/signin.css}">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/css/body.css" rel="stylesheet" th:href="@{/css/body.css}" />
    <link href="../static/css/heading.css" rel="stylesheet" th:href="@{/css/heading.css}" />
</head>
<body class="text-center">

<div th:replace="/navbar.html::navbar"></div>

<main class="form-signin">
    <br><br><br><br><br>
    <form action="#"  th:action="@{/auth/login}" th:object="${login}" method="post">

        <img class="mb-4" src="../assets/img/vader-login.png" th:href="@{/img/vader-login.png}" alt="..." width="300" height="250"/>
        <h1 class="masthead-heading mb-0">SIGN IN</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" th:field="*{email}" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <label class="error" th:errors="*{email}">Email error placeholder</label>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" th:field="*{password}" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <label class="error" th:errors="*{password}">Password error placeholder</label>


        <button class="w-100 btn btn-lg btn-primary" type="submit" value="Save" >Sign in</button>

    </form>
</main>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
</body>
</html>
