<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="resources">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Virtual Teacher</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/css/body.css" rel="stylesheet" th:href="@{/css/body.css}" />
    <link href="../static/css/heading.css" rel="stylesheet" th:href="@{/css/heading.css}" />
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container">
        <a class = "navbar-brand js-scroll-trigger" href="#" th:href="@{/}" >VirtualTeacher</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"  th:if="${isAuthenticated}"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger " th:text="#{home.welcome}">Welcome,</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthenticated}"><a   class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger " th:text="|${logged.firstName} ${logged.lastName}|"></a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthenticated}"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase " href="#" th:href="@{/users/{id}(id=${logged.getId()})}" th:text="#{navigation.profile}">PROFILE</a></li>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:unless="${isAuthorised}"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase " href="#" th:href="@{/courses}" th:text="#{navigation.courses}">COURSES</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isStudent}"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase " href="#" th:href="@{/users/courses}" th:text="#{navigation.my-courses}">MY COURSES</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthorised}"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase " href="#" th:href="@{/users}" th:text="#{navigation.users}">USERS</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthorised}"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase " href="#" th:href="@{/courses/all}" th:text="#{navigation.courses}">COURSES</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthorised}"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase " href="#" th:href="@{/lectures}" th:text="#{navigation.lectures}">LECTURES</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthorised}"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase " href="#" th:href="@{/assignments}" th:text="#{navigation.assignments}">ASSIGNMENTS</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"  th:unless="${isAuthenticated}"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase " href="#" th:href="@{/users/new}" th:text="#{navigation.register}">CREATE ACCOUNT</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"  th:unless="${isAuthenticated}"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase " href="#" th:href="@{/auth/login}" th:text="#{navigation.login}">LOGIN</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${isAuthenticated}"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase " href="#" th:href="@{/auth/logout}" th:text="#{navigation.logout}">LOGOUT</a></li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>