<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
  <meta charset="UTF-8">
  <title>Page not found</title>

</head>
<body class="text-center" id="page-top">
<div th:replace="/navbar.html::navbar"></div>
<br><br><br><br>
<div class="container d-flex align-items-center flex-column">

  <img class="masthead-avatar mb-5" src="../assets/img/not-found.png" th:href="@{/img/not-found.png}" alt="..." width="500" height="500"/>
  <h1 class="masthead-heading mb-0 text-uppercase" th:text="#{error.not-found}">Page Not Found</h1>
  <h3 class="masthead-heading mb-0 text-uppercase" th:text="${error}">Error placeholder</h3>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>