<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
    <meta charset="UTF-8">
    <title>Access denied</title>

</head>
<body class="text-center" id="page-top">
<div th:replace="/navbar.html::navbar"></div>
<br><br><br><br>
<div class="container d-flex align-items-center flex-column">
    <h1><a class="text-uppercase" th:text="#{navigation.not-authenticated}">YOU CANNOT PROCEED</a>
    </h1>
  <img class="masthead-avatar mb-5" src="/assets/img/maul.png" th:href="@{/img/maul.png}" alt="..." width="500" height="400"/>
    <h1 class="masthead-heading mb-0"  ><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase #fff" href="#" th:href="@{/users/new}" th:text="#{navigation.register}">CREATE ACCOUNT</a>
    </h1>
    <h1 class="masthead-heading mb-0"  ><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-uppercase #fff" href="#" th:href="@{/auth/login}" th:text="#{navigation.login}">LOGIN</a>
    </h1>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>