<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
    <meta charset="utf-8">
    <title>Available Courses</title>
</head>
<body id="page-top">
<div th:replace="/navbar.html::navbar"></div>
<br><br><br><br>
<section class="text-center" id="contact">
    <header class="text-center" style="background-color: #7aaed7;">
        <div class="text-center">
            <div>

                <main class="form-signin">
                    <form action="#" th:action="@{/courses/search}">
                        <input class="form-control me-2" type="text" placeholder="Search for a course"
                               aria-label="Search"
                               th:name="search">
                        <br>
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </main>

                <form action="#" th:action="@{/courses/filter}">
                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="Filter by title" aria-label="Filter"
                               th:name="title"/>
                        <select class="form-control" id="floatingTopic" th:name="topicId">
                            <option value=''>Filter by topic</option>
                            <option th:each="topic: ${topics}"
                                    th:value="${topic.id}"
                                    th:text="${topic.name}">
                            </option>
                        </select>

                        <select class="form-control" id="floatingTeacher" th:name="teacherId">
                            <option value=''>Filter by teacher</option>
                            <option th:each="teacher: ${teachers}"
                                    th:value="${teacher.id}"
                                    th:text="|${teacher.firstName} ${teacher.lastName}|">
                            </option>
                        </select>

                        <input type="text" placeholder="Filter by rating" aria-label="Filter"
                               th:name="rating">
                        <button class="btn btn-outline-light">Filter
                        </button>

                    </div>
                </form>
                <div class="btn-group">
                    <form action="#" th:action="@{/courses/sortByTitle}">
                        <button class="btn btn-outline-light" type="submit">Sort by title</button>
                    </form>

                    <form action="#" th:action="@{/courses/sortByRating}">
                        <button class="btn btn-outline-light" type="submit">Sort by rating</button>
                    </form>

                    <form action="#" th:action="@{/courses/sortByTitleAndRating}">
                        <button class="btn btn-outline-light" type="submit">Sort by title and rating</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="center" th:if="${published.isEmpty()}">
        <br>
        <h2 class="text-dark text-uppercase" style="margin-left: 40px" th:text="#{courses.title.no-available}">No
            available courses</h2>
    </div>
    <div class="center" th:unless="${published.isEmpty()}">
        <br>
        <h2 class="text-dark text-uppercase" style="margin-left: 40px" th:text="#{courses.title.unauthorised}">Available
            courses</h2>
        <br>
        <table class="table-hover" style="width:1400px; margin-left: 40px ">
            <thead>
            <tr>
                <th scope="col" style="height: 40px" th:text="#{course.label.title}">Title</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.topic}">Topic</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.description}">Description</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.starting-date}">Starting-date</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.rating}">Rating</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${published}">
                <th>
                    <a href="#" th:href="@{/courses/all/{id}(id=${course.getId()})}" th:text="${course.title}">Title</a>
                </th>
                <td style="height: 40px" th:text="${course.topic.name}">Topic</td>
                <td style="height: 40px" th:text="${course.description}">Description</td>
                <td style="height: 40px" th:text="${course.startingDate}">Starting-date</td>
                <td style="height: 40px" th:text="${course.rating}">Rating</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<footer class="footer position-absolute">
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
    </section>
</footer>
</body>
</html>