<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
    <meta charset="utf-8">
    <title>Search results</title>
</head>
<body id="page-top">
<div th:replace="/navbar.html::navbar"></div>
<section class="page-section" id="contact">
    <div class="center" th:if="${search.isEmpty()}">
        <br>
        <h2 class="text-muted" style="margin-left: 40px" th:text="#{users.title.no-match}">No matching users</h2>
    </div>
    <div class="center" th:unless="${search.isEmpty()}">
        <br>
        <h2 class="text-muted" style="margin-left: 40px" th:text="#{users.title.all-matches}">All matching users</h2>
        <br>
        <table class="table-hover" style="width:1600px; margin-left: 40px ">
            <thead>
            <tr>
                <th scope="col" style="height: 40px" th:text="#{user.label.id}">Id</th>
                <th scope="col" style="height: 40px" th:text="#{user.label.first-name}">First name</th>
                <th scope="col" style="height: 40px" th:text="#{user.label.last-name}">Last name</th>
                <th scope="col" style="height: 40px" th:text="#{user.label.email}">Email</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${search}">
                <th>
                    <a href="#" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.id}">ID</a>
                </th>
                <td style="height: 40px" th:text="${user.firstName}">First name</td>
                <td style="height: 40px" th:text="${user.lastName}">Last name</td>
                <td style="height: 40px" th:text="${user.email}">Email</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<footer class="footer">
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
    </section>
</footer>
</body>
</html>