<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
    <meta charset="utf-8">
    <title>All Courses</title>
</head>
<body id="page-top">
<div th:replace="/navbar.html::navbar"></div>
<section class="page-section" id="contact">

    <div class="text-dark text-center" th:if="${sortByRating.isEmpty()}">
        <br>
        <h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="#{courses.title.empty}">No courses</h2>
    </div>
    <div class="text-dark text-center" th:unless="${sortByRating.isEmpty()}">
        <br>
        <h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="#{courses.title.authorised}">All courses</h2>
        <br>

        <table class="table-hover" style="width:1600px; margin-left: 40px ">
            <thead>
            <tr>
                <th scope="col" style="height: 40px" th:text="#{course.label.title}">Title</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.topic}">Topic</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.description}">Description</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.starting-date}">Tarting-date</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.rating}">Rating</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.status}">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${sortByRating}">
                <th>
                    <a href="#" th:href="@{/courses/all/{id}(id=${course.getId()})}" th:text="${course.title}">Title</a>
                </th>
                <td style="height: 40px" th:text="${course.topic.name}">Topic</td>
                <td style="height: 40px" th:text="${course.description}">Description</td>
                <td style="height: 40px" th:text="${course.startingDate}">Starting date</td>
                <td style="height: 40px" th:text="${course.rating}">Rating</td>
                <td style="height: 40px" th:text="${course.status.type}">Status</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<footer class="footer">
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
    </section>
</footer>
</body>
</html>