<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register user form fragment</title>
</head>
<body class="text-center">
    <form th:fragment="user-form-register" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}"
          method="post">
        <img class="mb-4" src="../assets/img/r2d2.png" th:href="@{/img/r2d2.png}" alt="..." width="300" height="300"/>
        <h1 class="h3 mb-3 fw-normal">REGISTER</h1>
        <div class="form-floating">
            <label for="floatingFirst" style="text-decoration: underline" >First name</label>
            <input type="text" class="form-control" id="floatingFirst" th:field="*{firstName}"
                   placeholder="Your first name">
            <br>
        </div>
        <label class="error" th:errors="*{firstName}">First name error placeholder</label>
        <div class="form-floating">
            <label for="floatingLast" style="text-decoration: underline" >Last name</label>
            <input type="text" class="form-control" id="floatingLast" th:field="*{lastName}"
                   placeholder="Your last name">
            <br>
        </div>
        <label class="error" th:errors="*{lastName}">Last name placeholder</label>
        <div class="form-floating">
            <label for="floatingInput" style="text-decoration: underline" >Email address</label>
            <input type="email" class="form-control" id="floatingInput" th:field="*{email}"
                   placeholder="name@example.com">

            <br>
        </div>
        <label class="error" th:errors="*{email}">Email error placeholder</label>

        <div class="form-floating">
            <label for="floatingPassword" style="text-decoration: underline" >Password</label>
            <input type="password" class="form-control" id="floatingPassword" th:field="*{password}"
                   placeholder="Your password">
            <br>
        </div>
        <label class="error" th:errors="*{password}">Password error placeholder</label>

        <div class="form-floating">
            <label for="floatingPasswordConfirm" style="text-decoration: underline" >Confirm password</label>
            <input type="password" class="form-control" id="floatingPasswordConfirm" th:field="*{passwordConfirm}"
                   placeholder="Repeat your password">
            <br>
            <label class="error" th:errors="*{passwordConfirm}">Password confirm placeholder</label>

        </div>

        <div class="form-floating">
            <label for="floatingRole" style="text-decoration: underline" >Role</label>
            <select class="form-control" id= "floatingRole" th:field="*{roleId}">
                <option th:each="role: ${roles}"
                        th:value="${role.getId()}"
                        th:text="|${role.getName()}">
                </option>
            </select>
            <br>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" value="Save">Register</button>
    </form>
</body>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
</body>
</html>