<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
  <meta charset="utf-8">
  <title>All users</title>
</head>
<body id="page-top">
<div th:replace="/navbar.html::navbar"></div>
<br><br><br><br>
<footer class="side text-center" style="left: 0px; background-color: #7aaed7;" >

  <div class="container">
    <br>
    <div class="row">

      <main class="form-signin">
        <form action="#"  th:action="@{/users/search}" >
          <input class="form-control me-2" type="text" placeholder="Find user by email or by part of email" aria-label="Search" th:name="search">
          <br>
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </main>


    </div>
  </div>
</footer>
<section class="page-section" id="contact">
  <div class="text-center" th:if="${users.isEmpty()}">
    <br>
    <h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="#{users.title.empty}">No users</h2>
  </div>
  <div class="text-center" th:unless="${users.isEmpty()}">
    <br>
    <h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="#{users.title.all}">All users</h2>
    <br>
    <table class="table-hover" style="width:1600px; margin-left: 40px ">
      <thead>
      <tr>
        <th scope="col" style="height: 40px" th:text="#{user.label.id}">Id</th>
        <th scope="col" style="height: 40px" th:text="#{user.label.first-name}">First name</th>
        <th scope="col" style="height: 40px" th:text="#{user.label.last-name}">Last name</th>
        <th scope="col" style="height: 40px" th:text="#{user.label.email}">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <th>
          <a href="#" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.id}">User ID</a>
        </th>
        <td style="height: 40px" th:text="${user.firstName}">First name</td>
        <td style="height: 40px" th:text="${user.lastName}">Last name</td>
        <td style="height: 40px" th:text="${user.email}">Email</td>
      </tbody>
    </table>
  </div>
</section>
<footer class="footer position-relative">
  <!-- Copyright Section-->
  <section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
  </section>
</footer>
</body>
</html>