<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html::resources">
    <meta charset="utf-8">
    <title>User page</title>

</head>
<body id="page-top">

<div th:replace="/navbar.html::navbar"></div>
<br><br><br><br>

<header class="side text-center" style="left: 0px; background-color: #7aaed7;">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0" th:if="${logged.id}==${user.id}">
                <h5 class="text-uppercase space-right" style="color: white">Update your profile details</h5>
                <a class="btn btn-primary btn-l mar-top text-uppercase space-right border-btn"
                   th:href="@{__${#httpServletRequest.requestURI}__/update}" href="#"> Update</a>
            </div>

            <div class="col-md-4 mb-5 mb-lg-0" th:if="${logged.id}==${user.id}">
                <h5 class="text-uppercase space-right" style="color: white">Change your profile picture</h5>
                <a class="btn btn-warning btn-l mar-top text-uppercase space-right border-btn"
                   th:href="@{/users/upload/photo}" href="#"> Change</a>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0" th:if="${isAdministrator}">
                <main class="form-signin">
                    <form action="#" th:action="@{__${#httpServletRequest.requestURI}__/promotion}" method="post">
                        <select class="form-control" th:name="roleId">
                            <option th:each="role: ${forPromotion}"
                                    th:value="${role.getId()}"
                                    th:text="${role.name}">
                            </option>
                        </select>

                        <button class="btn btn-success btn-l mar-top text-uppercase space-right border-btn"
                                type="submit">
                            Promote
                        </button>
                    </form>
                </main>
            </div>
        </div>
    </div>
</header>

<h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="|User details:|"></h2>
<figure class="text-center">
    <img class="img-fluid rounded" th:width="200" th:height="300" th:src="${user.getProfilePicture()}" alt="Profile picture" width="250" height="250" title="Profile picture">
</figure>
<div class="container text-center">

    <h2 class="text-dark" style="text-decoration: underline" th:text="#{user.label.first-name}">First name</h2>
    <div class="text-dark" th:text="${user.firstName}">First name</div>

    <h2 class="text-dark" style="text-decoration: underline" th:text="#{user.label.last-name}">Last name</h2>
    <div class="text-dark" th:text="${user.lastName}">Last name</div>

    <h2 class="text-dark" style="text-decoration: underline" th:text="#{user.label.email}">Email</h2>
    <div class="text-dark" th:text="${user.email}">Email</div>

    <h2 class="text-dark" style="text-decoration: underline" th:text="#{user.label.role}">Role</h2>
    <table class="table-hover" style="width:1000px; margin-left: 40px">
        <tbody class="text-dark">
        <tr th:each="role : ${user.roles}">
            <td style="height: 40px" th:text="${role.name}">Email</td>
        </tr>
        </tbody>
    </table>
</div>

<section class="page-section" id="contact" th:if="${isAuthorised}">

    <div class="text-center " th:unless="${user.courses.isEmpty()}">
        <br>
        <h2 class="text-dark text-center text-uppercase" style="margin-left: 40px" th:text="#{courses.title.enrolled}">Enrolled courses</h2>
        <br>
        <table class="table-hover" style="width:1400px; margin-left: 40px ">
            <thead>
            <tr>
                <th scope="col" style="height: 40px" th:text="#{course.label.title}">Title</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.topic}">Topic</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.description}">Description</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.starting-date}">Tarting-date</th>
                <th scope="col" style="height: 40px" th:text="#{course.label.rating}">Rating</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${user.courses}">
                <th>
                    <a href="#" th:href="@{/courses/all/{id}(id=${course.getId()})}" th:text="${course.title}">Title</a>
                </th>
                <td style="height: 40px" th:text="${course.topic.name}">Topic</td>
                <td style="height: 40px" th:text="${course.description}">Description</td>
                <td style="height: 40px" th:text="${course.startingDate}">Starting date</td>
                <td style="height: 40px" th:text="${course.rating}">Rating</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<footer class="footer">
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
    </section>
</footer>
</body>
</html>